Authomatic==0.1.0.post1
awscli==1.10.66
Fabric==1.12.0
Flask==0.9
Flask-Cors==3.0.2
Jinja2==2.8
MarkupSafe==0.23
PyYAML==3.11
Werkzeug==0.8.3
bcdoc==0.12.0
beautifulsoup4==4.4.1
boto==2.34.0
botocore==1.4.56
clan==0.1.3
-e git://github.com/nprapps/copydoc.git@e9a8dfad851db5b29cab31e042b7a6ccd0da7d09#egg=copydocs
copytext==0.1.9
csvkit==0.9.1
docutils==0.11
gunicorn==19.1.1
httplib2==0.9
jmespath==0.9.0
nose==1.2.1
odict==1.5.1
openpyxl==2.2.0
Pillow==3.4.2
ply==3.4
pyasn1==0.1.7
pycrypto==2.6
python-dateutil==2.2
requests==2.5.0
slimit==0.7.4
smartypants==1.8.6
ssh==1.7.14
termcolor==1.1.0
wsgiref==0.1.2
xlrd==1.0.0
