<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CHARTBEAT -->
    <script type="text/javascript">
        var _sf_startpt=(new Date()).getTime();
    </script>

    <title>Debate Fact Check</title>

    <base target="_blank">

    <!-- META TAGS -->
    {% include '_meta.html' %}

    <!-- FONTS -->
    {% include '_fonts.html' %}

    <!-- CSS -->
    {{ CSS.push('less/app.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/rendered/app.min.css') }}

    {% include '_social_tags.html' %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body class="vis-not-available">
    <script src="js/app_config.js"></script>
    <!-- ANALYTICS JAVASCRIPT -->
    {% if DEPLOYMENT_TARGET %}
    <script src="js/header.min.js"></script>
    {% else %}
    <script src="js/header.js"></script>
    {% endif %}

    {% block content %}
    {% endblock content %}

    <script src="//pym.nprapps.org/pym.v1.min.js" type="text/javascript"></script>
    {% if DEPLOYMENT_TARGET %}
    <script src="js/bundle.min.js"></script>
    {% else %}
    <script src="js/bundle.js"></script>
    {% endif %}

</body>
</html>
