{% extends '_base_child.html' %}

{% block content %}
<div class="header-wrapper"></div>
<div class="transcript-wrapper"></div>
<div class="footer-wrapper"></div>
<div class="transcription-notice">
    <hr>
    <p><em>NPR transcripts are created on a rush deadline by <a href="http://verb8tm.com/">Verb8tm, Inc.</a>, an NPR contractor, and produced using a proprietary transcription process developed with NPR. This text may not be in its final form and may be updated or revised in the future. Accuracy and availability may vary. The authoritative record of NPR’s programming is the audio record.</em></p>
</div>
{% endblock %}
