<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fact Check</title>

    <base target="_blank">

    <!-- META TAGS -->
    {% include '_meta.html' %}

    <!-- FONTS --><!-- Fonts -->
    <script src="../js/lib/webfont.js"></script>
    <script>
        var urls = [
            'http://s.npr.org/templates/css/fonts/GothamSSm.css',
            'http://s.npr.org/templates/css/fonts/Knockout.css'
        ];

        if (window.location.protocol == "https:") {
            urls = [
                'https://secure.npr.org/templates/css/fonts/GothamSSm.css',
                'https://secure.npr.org/templates/css/fonts/Knockout.css'
            ];
        }

        WebFont.load({
             custom: {
                 families: [
                     'Gotham SSm:n4,n7',
                     'Knockout 31 4r:n4'
                 ],
                 urls: urls
             },
             timeout: 10000
        });
    </script>


    <!-- CSS -->
    <link rel="stylesheet" href="../css/rendered/app.min.css">

    {% block extra_head %}
    {% endblock extra_head %}
    <style>
        .annotation-nav { display: none; }
        .embed-code { display: none; }
        .embed-code textarea {
            width: 100%;
            font-family: monospace;
        }
        .not-embedded .embed-code {
            display: block;
        }
    </style>
</head>
<body>
    {% for post in prior %}
    {{ post.markup|safe }}
    {% endfor %}
    {{ filtered.markup|safe }}

    <div class="embed-code">
        <h2>Embed code</h2>
        <textarea rows=5>&lt;p data-pym-loader data-child-src="https://{{ PRODUCTION_S3_BUCKET }}/{{ FACTCHECKS_DIRECTORY_PREFIX }}{{ CURRENT_FACTCHECK }}/embeds/{{slug}}.html" id="responsive-embed-{{slug}}"&gt;Loading...&lt;/p&gt;&lt;script type="text/javascript" src="https://pym.nprapps.org/npr-pym-loader.v2.min.js"&gt;&lt;/script&gt;
        </textarea>
    </div>

    <script src="https://pym.nprapps.org/pym.v1.min.js"></script>
    <script>
        var child = new pym.Child({
            polling: 300
        });
        child.sendHeight();
    </script>
</body>
</html>