<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CHARTBEAT -->
    <script type="text/javascript">
        var _sf_startpt=(new Date()).getTime();
    </script>

    <title>Debate Fact Check</title>

    <base target="_blank">

    <!-- META TAGS -->
    <meta name="description" content="TKTK">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="http://media.npr.org/favicon.ico" />

    <!-- FONTS -->
    <!-- Fonts -->
<script src="js/lib/webfont.js"></script>
<script>
    var urls = [
        'http://s.npr.org/templates/css/fonts/GothamSSm.css',
        'http://s.npr.org/templates/css/fonts/Gotham.css',
        'http://s.npr.org/templates/css/fonts/Knockout.css'
    ];

    if (window.location.protocol == "https:") {
        urls = [
            'https://secure.npr.org/templates/css/fonts/GothamSSm.css',
            'https://secure.npr.org/templates/css/fonts/Gotham.css',
            'https://secure.npr.org/templates/css/fonts/Knockout.css'
        ];
    }

    WebFont.load({
         custom: {
             families: [
                 'Gotham SSm:n4,n7',
                 'Gotham:n4,n7',
                 'Knockout 31 4r:n4'
             ],
             urls: urls
         },
         timeout: 10000
    });
</script>


    <!-- CSS -->
    
    
    <link rel="stylesheet" type="text/css" href="css/icon/npr-app-template.css" />
<link rel="stylesheet" type="text/css" href="less/app.less" />

    
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@nprviz">
<meta name="twitter:image" content="http://TKTK" />


<meta property="og:title" content="TKTK" />
<meta property="og:url" content="http://TKTK" />
<meta property="og:type" content="article" />
<meta property="og:description" content="TKTK" />
<meta property="og:image" content="http://TKTK" />
<meta property="og:site_name" content="NPR.org" />
<meta property="fb:app_id" content="138837436154588" />


<meta name="thumbnail" content="http://TKTK" />

    
    
</head>
<body class="vis-not-available">
    <!-- ANALYTICS JAVASCRIPT -->
    
    
    
    <script type="text/javascript" src="js/lib/modernizr.js"></script>
<script type="text/javascript" src="js/app_config.js"></script>
<script type="text/javascript" src="js/analytics.js"></script>

    
  <style>
    body{
      padding: 40px;
    }
    .annotation{
      margin-bottom: .5em;
    }
    .outerCheck{
      margin-bottom: 2em;
    }
  </style>

  <script>
  var theId = null;
  var div = null;

  function createShareLink(){
    allDivs = document.getElementsByClassName('outerCheck')
    allChecks = document.getElementsByClassName('annotation');
    for (i = 0; i < allChecks.length; i++){
      div = allDivs[i];
      thisCheck = allChecks[i];
      theId = thisCheck.getAttribute('id');
      theURL = 'http://www.npr.org/templates/story/story.php?storyId=495115346#' + theId;

      var checkLink = document.createElement('a');
      checkLink.setAttribute('href', theURL);
      checkLink.innerHTML = theURL;

      div.appendChild(checkLink);
    };
  };
  </script>

  
    <div class="outerCheck">
      
<div class="annotation" id="dk-sharecheck-1">
<div class="annotations-wrapper"><p> This is a fact check.</p></div>
<div class="annotation-header">
<img class="annotation-label" src="http://media.npr.org/assets/img/2015/09/09/danielle_sq-5e35e46b0d00853b9a1e1208a437e4120140ee87-s400-c85.jpg"/>
<div class="annotation-byline">
<a class="byline-name" href="http://www.npr.org/people/409798174/danielle-kurtzleben">Danielle Kurtzleben</a>
<span class="byline-role">Politics Reporter</span>
</div>
</div>
</div>

    </div>
  
    <div class="outerCheck">
      
<div class="annotation" id="dk-sharechecker-2">
<div class="annotations-wrapper"><p> Second fact check.</p></div>
<div class="annotation-header">
<img class="annotation-label" src="http://media.npr.org/assets/img/2015/09/09/danielle_sq-5e35e46b0d00853b9a1e1208a437e4120140ee87-s400-c85.jpg"/>
<div class="annotation-byline">
<a class="byline-name" href="http://www.npr.org/people/409798174/danielle-kurtzleben">Danielle Kurtzleben</a>
<span class="byline-role">Politics Reporter</span>
</div>
</div>
</div>

    </div>
  
    <div class="outerCheck">
      
<div class="annotation" id="as-sharechecker-3">
<div class="annotations-wrapper"><p> Yet another fact check.</p></div>
<div class="annotation-header">
<img class="annotation-label no-img" src=""/>
<div class="annotation-byline">
<a class="byline-name" href="http://www.npr.org/people/348730771/aarti-shahani">Aarti Shahani</a>
<span class="byline-role">Tech Reporter</span>
</div>
</div>
</div>

    </div>
  
  <script>
    createShareLink();
  </script>


    <script src="//pym.nprapps.org/pym.v1.min.js" type="text/javascript"></script>
    <script src="js/app_config.js" type="text/javascript"></script>
    
    <script src="js/bundle.js"></script>
    

</body>
</html>